.DS_Store
*~.*
*.chk
*.bak
*.old
tmp.*
*.xcworkspace
*.sublime-workspace
xcuserdata/
build/

mulle-project/publisher-info.sh

src/mulle-nat/
var/
research/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
