.DS_Store
*~.*
*.chk
*.bak
*.old
tmp.*
*.xcworkspace
*.sublime-workspace
*.gz
xcuserdata/
build/
old/

mulle-project/publisher-info.sh

src/mulle-nat/
var/
research/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
fcking-zsh*
Makefile
.mulle-make-build-dir
release-entry-0.21.md
